# Environment variables & secrets
.env
*.env
MIMA.env

# Node
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Wrangler
.wrangler/

.dev.vars*
!.dev.vars.example
!.env.example
